.main {
    background-color: var(--main_bg_color);
}

.about_pic {
    width: 100%;
    max-width: 224px;
    height: 100%;
    max-height: 224px;
    object-fit: contain;
}

.mastered_coding_logo {
    height: 28px;
    width: 28px;
    object-fit: contain;
}

.footer,
.rocky_nav,
.main {
    transition: background-color 500ms;
}