.main[data-v-a4e76b4a]{background-color:var(--main_bg_color)}.story_chapter>a[data-v-a4e76b4a]{text-decoration:none;color:#fff}.story_chapter>a:hover .option_hoshi[data-v-a4e76b4a]{transform:rotate(360deg)}
